{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>What Now ?</title>
</head>

<body>
    <form class="mt-5 m-auto w-25" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h3 class="">Change Password</h3>
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <a href="" class="mt-5 d-flex justify-content-center text-decoration-none"><span class="text-dark">Back to</span> <span
            class="text-decoration-underline">Login</span></a>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>