{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br>

    <div class="container">
        <h2>Your Recommendation</h2>
        <hr>
        <ul class="responsive">
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Death on the Nile.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dont Look Up.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dune.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Kings Man.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Spider-Man No Way Home.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Godfather.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Inception.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Interstellar.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="container">
        <h2>Action</h2>
        <hr>
        <ul class="responsive">
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Death on the Nile.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dont Look Up.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dune.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Kings Man.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Spider-Man No Way Home.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Godfather.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Inception.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Interstellar.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <h2>Comedy</h2>
        <hr>
        <ul class="responsive">
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Death on the Nile.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dont Look Up.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dune.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Kings Man.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Spider-Man No Way Home.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Godfather.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Inception.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Interstellar.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <h2>Adventure</h2>
        <hr>
        <ul class="responsive">
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Death on the Nile.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dont Look Up.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Dune.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Kings Man.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Spider-Man No Way Home.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/The Godfather.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Inception.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="card rounded-3 w-100">
                    <img src="{% static 'img/Banner/Interstellar.jpg' %}" class="card-img-top"
                         alt="Spider-Man No Way Home">
                    <div class="card-body text-center">
                        <h5 class="card-title">Spider-Man No Way Home</h5>
                        <span class="card-text badge rounded-3-pill bg-secondary">Action</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Sci-Fi</span>
                        <span class="card-text badge rounded-3-pill bg-secondary">Drama</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock content %}