{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card Settings">
                    <div class="card-header">
                        <h5>Profile Settings</h5>
                    </div>
                    <div class="card-body">
                        <nav class="nav flex-column nav-pills gap-2">
                            <a href="{% url 'profile:edit' %}" class="nav-item nav-link has-icon nav-link-faded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user mr-2">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                Profile Information
                            </a>
                            <a href="{% url 'profile:password_change' %}"
                               class="nav-item nav-link has-icon nav-link-faded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-shield mr-2">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                                Security
                            </a>
                            <a href="{% url 'profile:delete' %}"
                               class="nav-item nav-link has-icon nav-link-faded active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                                Delete Account
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="delete">
                <form method="post" id="id_password_change_form">
                    {% csrf_token %}
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete My Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-8">

                <div class="card Settings">
                    <div class="card-header">
                        <h5>Delete your account</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            You can delete your Account at any time. If you change your mind, you might not
                            be able to recover it.
                        </div>
                        <div class="d-flex justify-content-end me-1">
                            <button type="button" class="btn btn-danger mt-3"  data-bs-toggle="modal" data-bs-target="#delete">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
